{
  "plugins": [
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    "@babel/env",
    "@babel/typescript"
  ]
}
