<h1>Photos</h1>

<div class="gallery">
  <% @photos.each do |photo| %>
    <%= link_to url_for(photo[:photo].image), class: ['gallery__link', "gallery__link--#{photo[:photo].thumbnail_size}"] do %>
      <%= image_tag '/images/placeholder.png', class: 'gallery__image', style: "min-width: 100px; min-height: 100px; background-color: #{random_color}",
        data: {'lazy-load': '', 'lazy-load-src': url_for(photo[:thumbnail])} %>
    <% end %>
  <% end %>
</div>
