<div class="gallery">
  <% @photos.each do |photo| %>
    <%= link_to url_for(photo[:photo].image), class: ['gallery__link', "gallery__link--#{photo[:photo].thumbnail_size}"] do %>
      <%= image_tag '/images/placeholder.png', class: 'gallery__image',
        data: {'lazy-load': '', 'lazy-load-src': url_for(photo[:thumbnail])} %>
    <% end %>
  <% end %>
</div>
