.button,
button,
input[type='submit'] {
  color: var(--color-primary);
  background-color: var(--color-primary-inverse);
  font-size: 16px;
  display: inline-block;
  padding: var(--input-padding);
  border: 0;

  @if $rounded-borders {
    border-radius: var(--border-radius);
  }

  &:hover {
    background-color: #ddd;
  }
}

.button--primary {
  background-color: #fff;
  color: var(--color-primary);

  &:hover {
    background-color: #ddd;
  }
}
