<header class="site-header">
  <h1><span>Lesleh</span>.co.uk</h1>
  <button class="site-nav__hamburger" aria-label="Main menu"><i class="fas fa-bars"></i></button>
</header>

<ul class="site-nav">
  <li>
    <%= active_link_to root_path, active: :exclusive do %>
      Home <i class="fas fa-fw fa-home"></i>
    <% end %>
  </li>
  <li>
    <%= active_link_to about_path do %>
      About <i class="fas fa-fw fa-user-circle"></i>
    <% end %>
  </li>
  <li>
    <%= active_link_to photos_path do %>
      Photos <i class="fas fa-fw fa-images"></i>
    <% end %>
  </li>
  <li>
    <%= active_link_to contact_path do %>
      Contact <i class="fas fa-fw fa-envelope"></i>
    <% end %>
  </li>
</ul>
