<!DOCTYPE html>
<html>
  <head>
    <title>Lesleh.co.uk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'app.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
